<!--  Nav Name : Shop Header -->
<nav class="navbar {% if include.extra_class %} {{include.extra_class}} {% endif %} navbar-expand-lg nav-uppercase bg-white shadow">
  <div class="container flex-row justify-content-center">
    <div class="navbar-brand" data-default-logo="{{ include.default_logo | default: 'white' }}">
      <a href="{{site.url}}">
        <img 
          src="{{site.data.general_settings.light_logo_1x}}" 
          srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x"
          class="logo-light {% if include.default_logo == 'black' %}d-none{% endif %}" 
          alt="{{site.data.general_settings.title}}" 
        />
      </a>
  
      <a href="{{site.url}}">
        <img 
          src="{{site.data.general_settings.black_logo_1x}}" 
          srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x"
          class="logo-dark {% unless include.default_logo == 'black' %}d-none{% endunless %}" 
          alt="{{site.data.general_settings.title}}" 
        />
      </a>
    </div>

    <div class="navbar-other ms-auto order-lg-3">
      <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
        <li class="nav-item">
          <div class="navbar-hamburger d-lg-none d-xl-none ms-auto">
            <button class="hamburger animate plain" data-bs-toggle="offcanvas-nav"><span></span></button>
          </div>
        </li>
      </ul>

      {% if include.shop_header %}
        {% include layouts/nav/_shop-header.html %}
      {% endif %}
      
      {% if include.btn_header %}
        {% include layouts/nav/_btn-header.html %}
      {% endif %}
      
      {% if include.drop_search %}
        {% include layouts/nav/_drop-search.html %}
      {% endif %}
    </div>

    <div class="navbar-collapse offcanvas-nav">
      <div class="offcanvas-header d-lg-none d-xl-none">
        <a href="{{site.url}}">
          <img src="{{site.data.general_settings.light_logo_1x}}"
            srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x"
            alt="{{site.data.general_settings.title}}" />
        </a>
        <button class="plain offcanvas-close offcanvas-nav-close"><i class="jam jam-close"></i></button>
      </div>

      <ul class="navbar-nav {% if include.alignment_class %} {{include.alignment_class}} {% else %} ms-auto {% endif %}" data-sm-skip-collapsible-behavior="true">
        {% for menu in site.data.navigation.main_menu %}
          <li class="nav-item">
            <a class="nav-link" href="{{ menu.url | relative_url }}">{{ menu.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

{% include layouts/nav/_offcanvas-info.html %}